


<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="中学生综合素质评定系统">
    <meta name="author" content="Xchkoo">
    <link rel="icon" href="/static/image/favicon.ico">
    <title>关于网页 - about</title>
	<link href=""/static/mdui/css/mdui.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/cover.css" rel="stylesheet">
	<!-- <style>
		.opacity{
		  opacity: 0.8;
		}
	</style> -->

   </head>

  <style>
  #main{
  width: 100%;
  height: 100%;
  background-repeat:no-repeat ;
  background-size:100% 100%;
  background-attachment: fixed;"
  }
  </style>
    <div class="site-wrapper" id="main">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">中学生综合素质评定系统</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li><a href="/">Home</a></li>
                  <li class="active"><a href="/about/">About</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
			<div class="row">
				<div class="col-lg-11">
				<div class="card">
					<div class="card-body">
						<h4 class="card-title font-20 mt-0">关于本系统 - 中学生综合素质评定系统</h4>
						<hr>
							<p>
								本系统提供三个主要功能来实现智能化、规范化、平行化中学综合素质评定系统的测评
								<br>
								<a href="https://baike.baidu.com/item/综合素质评价/5865750">不了解中学生综合素质评定系统?</a>
								<a href=""></a>
							</p>
						</div>
					</div>
				</div>
				</div>
				</div>
			</div>
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Created using <a href="http://getbootstrap.com">Bootstrap</a> & <a href="http://mdui.org">MDUI</a>, by <a href="https://github.com/Xchkoo">@Xchkoo</a>.</p>
              <p>&copy; copyright 2021 Xchkoo All rights reserved.</p>
            </div>
          </div>

        </div>

      </div>

    </div>
	<script src="/static/mdui/js/mdui.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
