<!DOCTYPE html>
<html lang="zh">
<title>{% block title %}base{% endblock %}</title>
<head>
{% block head %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no"/>
<meta name="renderer" content="webkit"/>
<meta name="force-rendering" content="webkit"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

<link rel="icon" href="/static/image/favicon.ico">
<link href="/static/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="/static/mdui/css/mdui.min.css"/>
<style>
	a:visited,a:hover,a:active{
	color:#000000;
	}
  .mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(131,139,139,.5);
}

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}
</style>
  {% endblock %}
</head>

<body class="mdui-drawer-body-left">
	<!-- Loader -->
	<div id="preloader">
		<div id="status">
			<div class="spinner">
			</div>
		</div>
	</div>




  
<div class="mdui-toolbar">
  <a id="toggle" class="mdui-btn mdui-btn-icon "><i class="mdui-icon material-icons">menu</i></a>
  <span class="mdui-typo-title"><div align="center">
  {% block top %}中学生综合素质评定系统{% endblock %}
  </div></span>

  <div class="mdui-toolbar-spacer"></div>
	  <a href="" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">refresh</i></a>
  
    <a class="nav-link dropdown-toggle arrow-none waves-effect nav-user" data-toggle="dropdown" role="button" mdui-menu="{target: '#example-attr'}" aria-haspopup="false" aria-expanded="false">
          <i class="mdui-icon material-icons">account_circle</i>
          <span class="d-none d-md-inline-block ml-1">{{ username }}<i class="mdi mdi-chevron-down"></i> </span>
    </a>
      <ul class="mdui-menu" id="example-attr">
        <li class="mdui-menu-item">
          <a href="/settings" class="mdui-ripple">设置</a>
        </li>
        <li class="mdui-divider"></li>
        <li class="mdui-menu-item">
          <a href="/logout" class="mdui-ripple">登出</a>
        </li>
    </ul>
  </div>





  <div class="mdui-drawer mdui-color-grey-300" id="drawer">
  <ul class="mdui-list" mdui-collapse="{accordion: false}">
  
    <li class="mdui-list-item mdui-ripple">
      <i class="mdui-list-item-icon mdui-icon material-icons">home</i>
      <div class="mdui-list-item-content"><a href="/">主页</a></div>
    </li>
  
    <li class="mdui-list-item mdui-ripple">
      <i class="mdui-list-item-icon mdui-icon material-icons">dashboard</i>
      <div class="mdui-list-item-content"><a href="/console/">学生综合评价</a></div>
    </li>
  
    <li class="mdui-collapse-item mdui-collapse-item-open">
      <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
        <i class="mdui-list-item-icon mdui-icon material-icons">people</i>
        <div class="mdui-list-item-content ">日常行为管理</div>
        <i class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
      </div>
      <ul class="mdui-collapse-item-body mdui-list mdui-list-dense">
        <a href="/check_add_photo/"><li class="mdui-list-item mdui-ripple">口罩识别-上传数据</li></a>
        <a href="/check_result/"><li class="mdui-list-item mdui-ripple">口罩识别-查询</li></a>
        <a href="/class_add_photo/"><li class="mdui-list-item mdui-ripple">课堂纪律-上传数据</li></a>
        <a href="/class_result/"><li class="mdui-list-item mdui-ripple">课堂纪律-查询</li></a>
      </ul>
    </li>
  
    <li class="mdui-collapse-item mdui-collapse-item-open">
      <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
        <i class="mdui-list-item-icon mdui-icon material-icons">device_hub</i>
        <div class="mdui-list-item-content">学习情况管理</div>
        <i class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
      </div>
      <ul class="mdui-collapse-item-body mdui-list mdui-list-dense">
        <a href="/homework_add_photo/"><li class="mdui-list-item mdui-ripple">作业管理-作业表格识别</li></a>
        <a href="/homework_result/"><li class="mdui-list-item mdui-ripple">作业管理-作业查询</li></a>
      </ul>
    </li>

	<li class="mdui-collapse-item mdui-collapse-item-open">
	  <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
	    <i class="mdui-list-item-icon mdui-icon material-icons">account_box</i>
	    <div class="mdui-list-item-content">学生综合管理</div>
	    <i class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
	  </div>
	  <ul class="mdui-collapse-item-body mdui-list mdui-list-dense">
	    <a href="/register/"><li class="mdui-list-item mdui-ripple">注册新学生</li></a>
	    <a href="/face_view/"><li class="mdui-list-item mdui-ripple">学生数据库管理</li></a>
		<a href="/search/"><li class="mdui-list-item mdui-ripple">学生综合评价-搜索学生</li></a>
	  </ul>
	</li>
  </ul>
  </div>
  <!-- <div class="mdui-fab-wrapper" id="Fab" mdui-fab="{trigger: 'click'}">
    <button class="mdui-fab mdui-ripple">
	<i class="mdui-icon material-icons mdui-color-white">add</i>
    <i class="mdui-icon mdui-fab-opened material-icons mdui-color-white">add</i>
    </button>
    <div class="mdui-fab-dial">
      <button class="mdui-fab mdui-fab-mini mdui-ripple mdui-color-deep-purple-accent"><a class='mdui-color-black' href='/console/'><i class="mdui-icon material-icons">details</i></a></button>
      <button class="mdui-fab mdui-fab-mini mdui-ripple mdui-color-deep-purple-accent" onclick="ua_change()"><i class="mdui-icon material-icons">phonelink</i></button>
      <button class="mdui-fab mdui-fab-mini mdui-ripple mdui-color-deep-purple-accent"><a class='mdui-color-black' href='/search/'><i class="mdui-icon material-icons">search</i></a></button>
      <button class="mdui-fab mdui-fab-mini mdui-ripple mdui-color-deep-purple-accent"><a class='mdui-color-black' href='/'><i class="mdui-icon material-icons">home</i></a></button>
    </div>
  </div> -->
	<div id="hide">
		{% block hide %}{% endblock %}
	</div>
  <div id="content">
    {% block content %}{% endblock %}
  </div>
{% block script %}
<script src="/static/jquery/jquery-3.4.1.js"></script>
<script src="/static/js/jquery.form.min.js"></script>
<script src="/static/mdui/js/mdui.min.js"></script>
<script src="/static/assets/js/bootstrap.bundle.min.js"></script>
<script src="/static/assets/js/jquery.slimscroll.js"></script>
<script src="/static/assets/js/waves.js"></script>
<script src="/static/assets/js/modernizr.min.js"></script>
<script src="/static/assets/js/metisMenu.min.js"></script>
<script src="/static/js/app.js"></script>
<script>
  var inst = new mdui.Drawer('#drawer');
  document.getElementById('toggle').addEventListener('click', function () {
  inst.toggle(); 
  });
  var drawer = document.getElementById('drawer');
drawer.addEventListener('open.mdui.drawer', function () {
  console.log('open');
});
drawer.addEventListener('opened.mdui.drawer', function () {
  console.log('opened');
});
drawer.addEventListener('close.mdui.drawer', function () {
  console.log('close');
});
drawer.addEventListener('closed.mdui.drawer', function () {
  console.log('closed');
});
	function ua_change(){
	var customUserAgent = 'UCWEB/2.0 (MIDP-2.0; U; Adr 9.0.0) UCBrowser U2/1.0.0 Gecko/63.0 Firefox/63.0 iPhone/7.1 SearchCraft/2.8.2 baiduboxapp/3.2.5.10 BingWeb/9.1 ALiSearchApp/2.4';    
    Object.defineProperty(navigator, 'userAgent', {
    value: customUserAgent,
    writable: false
    });
	}
</script>

{% for message in get_flashed_messages() %}
<script>
  mdui.snackbar({
      message: '{{ message }}'
    });
</script>
{% endfor %}
{% endblock %}
</body>
</html>