<!DOCTYPE html>
<html lang="zh">
<title>{% block title %}base{% endblock %}</title>
<head>
{% block head %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no"/>
<meta name="renderer" content="webkit"/>
<meta name="force-rendering" content="webkit"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

<link rel="icon" href="/static/image/favicon.ico">
<link href="/static/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="/static/mdui/css/mdui.min.css"/>
<style>
	a:visited,a:hover,a:active{
	color:#ff00ff;
	}
  .mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(131,139,139,.5);
}

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}
</style>
  {% endblock %}
</head>
<body class="mdui-drawer-body-left">
<div class="mdui-toolbar mdui-color-deep-purple-accent">
  <a id="toggle" class="mdui-btn mdui-btn-icon "><i class="mdui-icon material-icons">menu</i></a>

  <span class="mdui-typo-title"><div align="center">{% block top %}中学生综合素质评定系统{% endblock %}</div></span>
  <div class="mdui-toolbar-spacer"></div>
</div>
  <div class="mdui-drawer mdui-color-deep-purple-a100" id="drawer" >
    <ul class="mdui-list">
      <div align="center"><li><div class="mdui-typo-headline">综合素质评定</div></li></div>
  <li class="mdui-subheader" >人脸库</li>
  <a href="/register/"><li class="mdui-list-item mdui-ripple"><i class="mdui-icon material-icons">tag_faces</i>注册人脸</li></a>
  <a href="/face_view/"> <li class="mdui-list-item mdui-ripple"><i class="mdui-icon material-icons">data_usage</i>查看人脸库</li></a>
  <li class="mdui-subheader">签到</li>
  <a href="/check_add_photo/"><li class="mdui-list-item mdui-ripple"><i class="mdui-icon material-icons">file_upload</i>上传图片</li></a>
  <a href="/check_result/"><li class="mdui-list-item mdui-ripple"><i class="mdui-icon material-icons">assessment</i>查询数据</li></a>
  <li class="mdui-subheader">作业表格</li>
  <a href="/homework_add_photo/"> <li class="mdui-list-item mdui-ripple"><i class="mdui-icon material-icons">file_upload</i>上传图片</li></a>
  <a href="/homework_result/"> <li class="mdui-list-item mdui-ripple"><i class="mdui-icon material-icons">assessment</i>查询数据</li></a>
  <li class="mdui-subheader">课堂拍照</li>
  <a href="/class_add_photo/"> <li class="mdui-list-item mdui-ripple"><i class="mdui-icon material-icons">file_upload</i>上传图片</li></a>
  <a href="/class_result/"> <li class="mdui-list-item mdui-ripple"><i class="mdui-icon material-icons">assessment</i>查询数据</li></a>
  <li class="mdui-subheader">其他</li>
  <a href="/search/"><li class="mdui-list-item mdui-ripple"><i class="mdui-icon material-icons">search</i>搜索</li></a>
  <a href="/console/"> <li class="mdui-list-item mdui-ripple"><i class="mdui-icon material-icons">dashboard</i>控制台</li></a>
  <a href='/'><li class="mdui-list-item mdui-ripple"><i class="mdui-icon material-icons">home</i>主页</li></a>
    </ul>
  </div>
  <div class="mdui-fab-wrapper" id="Fab" mdui-fab="{trigger: 'click'}">
    <button class="mdui-fab mdui-ripple">
	<i class="mdui-icon material-icons mdui-color-white">add</i>
    <i class="mdui-icon mdui-fab-opened material-icons mdui-color-white">add</i>
    </button>
    <div class="mdui-fab-dial">
      <button class="mdui-fab mdui-fab-mini mdui-ripple mdui-color-deep-purple-accent"><a class='mdui-color-black' href='/console/'><i class="mdui-icon material-icons">details</i></a></button>
      <button class="mdui-fab mdui-fab-mini mdui-ripple mdui-color-deep-purple-accent" onclick="ua_change()"><i class="mdui-icon material-icons">phonelink</i></button>
      <button class="mdui-fab mdui-fab-mini mdui-ripple mdui-color-deep-purple-accent"><a class='mdui-color-black' href='/search/'><i class="mdui-icon material-icons">search</i></a></button>
      <button class="mdui-fab mdui-fab-mini mdui-ripple mdui-color-deep-purple-accent"><a class='mdui-color-black' href='/'><i class="mdui-icon material-icons">home</i></a></button>
    </div>
  </div>
    <div id="content">
	{% block content %}{% endblock %}
	</div>
	<footer class="footer">
		<p>Created using Bootstrap & MDUI, by Xchkoo.</p>
		<p>&copy; copyright 2021 Xchkoo All rights reserved.</p>
	</footer>
{% block script %}
<script src="/static/jquery/jquery-3.4.1.js"></script>
<script src="/static/js/jquery.form.min.js"></script>
<script src="/static/mdui/js/mdui.min.js"></script>
<script src="/static/assets/js/bootstrap.bundle.min.js"></script>
<script src="/static/assets/js/jquery.slimscroll.js"></script>
<script src="/static/assets/js/waves.js"></script>
<script src="/static/assets/js/modernizr.min.js"></script>
<script src="/static/assets/js/metisMenu.min.js"></script>
<script>
  var inst = new mdui.Drawer('#drawer');
  document.getElementById('toggle').addEventListener('click', function () {
  inst.toggle(); 
  });
  var drawer = document.getElementById('drawer');
drawer.addEventListener('open.mdui.drawer', function () {
  console.log('open');
});
drawer.addEventListener('opened.mdui.drawer', function () {
  console.log('opened');
});
drawer.addEventListener('close.mdui.drawer', function () {
  console.log('close');
});
drawer.addEventListener('closed.mdui.drawer', function () {
  console.log('closed');
});
</script>
<script>
	function ua_change(){
	var customUserAgent = 'UCWEB/2.0 (MIDP-2.0; U; Adr 9.0.0) UCBrowser U2/1.0.0 Gecko/63.0 Firefox/63.0 iPhone/7.1 SearchCraft/2.8.2 baiduboxapp/3.2.5.10 BingWeb/9.1 ALiSearchApp/2.4';    
    Object.defineProperty(navigator, 'userAgent', {
    value: customUserAgent,
    writable: false
    });
	}
</script>
{% endblock %}
</body>
</html>