{% extends "base.html" %}
{% block title %}口罩识别-上传数据{% endblock %}
{% block top %}口罩识别-上传数据{% endblock %}
{% block head %}
{{ super ()}}
<link href="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
<link href="/static/assets/css/metismenu.min.css" rel="stylesheet" type="text/css">
<link href="/static/assets/css/icons.css" rel="stylesheet" type="text/css">
<link href="/static/css/style.css" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
    {{ super() }}
	<div class='container-fluid'>
	<div class="row">
		<div class="col-sm-12 col-lg-12 col-md-12">
			<div class="page-title-box">
				<div class="row align-items-center">
					<div class="col-md-12">
						<h4 class="page-title mb-0">口罩识别-上传数据</h4>
						<ol class="breadcrumb m-0">
							<li class="breadcrumb-item"><a href="/">中学生综合素质评定系统</a></li>
							<li class="breadcrumb-item"><a href="/check_add_photo/">口罩识别</a></li>
							<li class="breadcrumb-item"><a href="/check_add_photo/">上传数据</a></li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 col-lg-12 col-md-12">
		<div class="card">
			<div class="card-body">
				<h4 class="mt-0 header-title">输入详细信息</h4>
					<form method=post enctype=multipart/form-data action="/check_add_photo/" id="add_form">
						<div class="form-group">
						<div class="row">
						<div class="m-3">
						<label for="position">位置：</label>
						<select id="position" name="position" class="mdui-select" mdui-select="{position: 'bottom'}">
						<option value="校园门口">校园门口</option>
						<option value="食堂门口">食堂门口</option>
						<option value="机房门口">机房门口</option>
						<option value="教室门口">教室门口</option>
						</select>
						</div>
						<div class="form-group m-3">
						<label for="time">时间：</label><input type="date" name="time" id="time">
						</div>
						</div>
						<div class="form-group">
							<label>请插入图片：</label> <input type="file" class="filestyle" data-buttonname="btn-secondary "name='photo' id='photo'>
						</div>
						<button id="submitbtn" class="mdui-btn mdui-btn-raised mdui-color-white mdui-ripple">提交</button>
					</div>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block script %}
{{ super() }}

<script src="/static/assets/pages/form-advanced.js"></script>
<script src="/static/assets/plugins/bootstrap-filestyle/js/bootstrap-filestyle.min.js"></script>
<script>
$(function(){
	$("#submitbtn").click(function(){
		$("#add_form").ajaxForm({
			url: "/check_add_photo/",
			type: "POST",
			dataType: 'json',
			clearForm:true,
			beforeSubmit:function(){
				load = mdui.snackbar({
					message: "loading...",
					timeout: 0,
					closeOnOutsideClick: false
				});
			},
			success:function(res){
				load.close();
				mdui.snackbar({
					message: res['msg']
				});
			},
			error:function(){
				load.close();
				mdui.snackbar({
					message: 'ERROR:run time error!'
				});
			}
		});
	});
});
</script>
{% endblock%}