{% extends "base.html" %}
{% block title %}学生综合评价-控制台{% endblock %}
{% block head %}
{{super()}}
<link href="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
<link href="/static/assets/css/metismenu.min.css" rel="stylesheet" type="text/css">
<link href="/static/assets/css/icons.css" rel="stylesheet" type="text/css">
<link href="/static/css/style.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="/static/css/morris.css">
{% endblock %}
{% block content %}
    {{ super() }}
<div class="container-fluid">
	<div class="row">
		<div class="col-xl-12 col-md-12">
		    <div class="card mini-stats">
		        <div class="p-3 mini-stats-content">
		            <div class="mb-4">
		                <div class="float-right text-right">
		                    <p class="text-white-50 ">总计 - total</p>
		                </div>
		            </div>
		        </div>
		        <div class="ml-3 mr-3">
		            <div class="bg-white p-3 mini-stats-desc rounded">
		                <h5 class="float-right mt-0 all-pass-num"></h5>
		                <h6 class="mt-0 mb-3">人次</h6>
		                <p class="text-muted mb-0">系统检测总计人次</p>
		            </div>
		        </div>
		    </div>
		</div>
	</div>
	<div class="row">
	    <div class="col-xl-3 col-md-6">
	        <div class="card mini-stats">
	            <div class="p-3 mini-stats-content">
	                <div class="mb-4">
	                    <div class="float-right text-right">
	                        <p class="text-white-50 pass-row-time"></p>
	                    </div>
	                </div>
	            </div>
	            <div class="ml-3 mr-3">
	                <div class="bg-white p-3 mini-stats-desc rounded">
	                    <h5 class="float-right mt-0" id="school-door-pass-num"></h5>
	                    <h6 class="mt-0 mb-3">人次</h6>
	                    <p class="text-muted mb-0">校园门口经过人次</p>
	                </div>
	            </div>
	        </div>
	    </div>
	    <div class="col-xl-3 col-md-6">
	        <div class="card mini-stats">
	            <div class="p-3 mini-stats-content">
	                <div class="mb-4">
	                    <div class="float-right text-right">
	                        <p class="text-white-50 pass-row-time"></p>
	                    </div>
	                </div>
	            </div>
	            <div class="ml-3 mr-3">
	                <div class="bg-white p-3 mini-stats-desc rounded">
	                    <h5 class="float-right mt-0" id="computer-room-pass-num"></h5>
	                    <h6 class="mt-0 mb-3" >人次</h6>
	                    <p class="text-muted mb-0">机房门口经过人次</p>
	                </div>
	            </div>
	        </div>
	    </div>
	    <div class="col-xl-3 col-md-6">
	        <div class="card mini-stats">
	            <div class="p-3 mini-stats-content">
	                <div class="mb-4">
	                    <div class="float-right text-right">
	                        <p class="text-white-50 pass-row-time"></p>
	                    </div>
					</div>
	            </div>
	            <div class="ml-3 mr-3">
	                <div class="bg-white p-3 mini-stats-desc rounded">
	                    <h5 class="float-right mt-0" id="restaurant-pass-num"></h5>
	                    <h6 class="mt-0 mb-3">人次</h6>
	                    <p class="text-muted mb-0">食堂门口经过人次</p>
	                </div>
	            </div>
	        </div>
	    </div>
	    <div class="col-xl-3 col-md-6">
	        <div class="card mini-stats">
	            <div class="p-3 mini-stats-content">
	                <div class="mb-4">
	                    <div class="float-right text-right">
	                        <p class="text-white-50 pass-row-time"></p>
	                    </div>
					</div>
	            </div>
	            <div class="ml-3 mr-3">
	                <div class="bg-white p-3 mini-stats-desc rounded">
	                    <h5 class="float-right mt-0" id="class-door-pass-num"></h5>
	                    <h6 class="mt-0 mb-3">人次</h6>
	                    <p class="text-muted mb-0">班级门口经过人次</p>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
	<div class="row">
		<div class="col-lg-3">
			<div class="card">
				<div class="card-body">
					<h5 class="mt-0 header-title mb-5">通勤人数</h4>
					<div id="morris-bar-commuting" class="morris-chart-height morris-charts"></div>
				</div>
			</div>
		</div>
		<div class="col-lg-3">
		    <div class="card">
		        <div class="card-body">
					<h5 class="mt-0 header-title mb-5">系统已检验人数</h4>
					<div id="morris-bar-system-checkout" class="morris-chart-height morris-charts"></div>
				</div>
			</div>
		</div>
		<div class="col-lg-6">
		    <div class="card">
		        <div class="card-body" >
					<h5 class="mb-0">近日佩戴口罩统计<h5>
					<div id="morris-line-mask-wearing" class="morris-chart-height morris-charts"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6">
		    <div class="card">
		        <div class="card-body">
					<h5 class="mb-0">系统安全<h5>
					<ul class="list-inline widget-chart m-t-20 m-b-15 text-center">
						<li class="list-inline-item">
							<h4 class="text-muted font-14">系统安全</h4>
							<h5 class="mb-0 mdui-text-color-green-500">良好</h5>
						</li>
					</ul>
					<div id="morris-area-system-judge" class="morris-chart-height morris-charts"></div>
				</div>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="card">
				<div class="card-body">
					<div id="morris-donut-total" class="morris-chart-height morris-charts"></div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="mdui-panel " mdui-panel id="put_here">
	</div>
	
	<div mdui-panel id="class_here">
	</div>
</div>
{% endblock %}

{% block script %}
{{ super() }}
<!-- jQuery  -->
<script src="/static/js/jquery.peity.min.js"></script>
<script src="/static/js/morris.min.js"></script>
<script src="/static/js/raphael-min.js"></script>
<script src="/static/assets/pages/form-advanced.js"></script>
<script src="/static/assets/plugins/bootstrap-filestyle/js/bootstrap-filestyle.min.js"></script>
<script>
	$(function(){
		$.ajax({
			type: "POST",
			dataType: "json",
			contentType:"application/json",
			url: "/class_result/",
			success:function(data){
				for(var i=0;i<data["num"];i++){
					var text = '\
					<div class="row">\
						<div class="col-12">\
							<div class="card">\
								<div class="card-body">\
									<div class="mdui-chip">\
									  <span class="mdui-chip-icon"><i class="mdui-icon material-icons">face</i></span>\
									  <span class="mdui-chip-title">'+data["info"][i]["name"]+'</span>\
									</div>\
									<a class="mdui-btn mdui-btn-dense mdui-ripple" href="/download/'+data["info"][i]["img"]+'" download="/download/'+data["info"][i]["img"]+'">图片下载</a>\
									<h5>时间：'+data["info"][i]["time"]+' 课程： '+data["info"][i]["lesson"]+' 理由：'+data["info"][i]["reason"]+' </h5>\
								</div>\
							</div>\
						</div>\
					</div>\
					';
					$("#class_here").append(text);
				}
			},
			error:function(){
				mdui.snackbar({
				message: 'ERROR: run time error! check your network! '
				});
			}
		});
	});
</script>
<script>
	$(function(){
		pad=function(e,t,n){n=n||"0",t=t||2;while((""+e).length<t)e=n+e;return e}
		c = new Date()
		date=c.getFullYear()+"-"+pad(c.getMonth()+1)+"-"+pad(c.getDate());
		$(".pass-row-time").append(date);
		$.ajax({
			type: "POST",
			dataType: "json",
			contentType:"application/json",
			data: JSON.stringify({
				"date": date
			}),
			url: "/api/get_data/check_result/",
			success:function(data){
				$("#class-door-pass-num").append(data.pass_row_data.clnum);
				$("#restaurant-pass-num").append(data.pass_row_data.rnum);
				$("#school-door-pass-num").append(data.pass_row_data.snum);
				$("#computer-room-pass-num").append(data.pass_row_data.cnum);
				$(".all-pass-num").append(data['donut_chart']['all']);
				!function morrischart($) {
					"use strict";
					var MorrisCharts = function () {
					};
						//creates line chart
						MorrisCharts.prototype.createLineChart = function (element, data, xkey, ykeys, labels, lineColors) {
							Morris.Line({
								element: element,
								data: data,
								xkey: xkey,
								ykeys: ykeys,
								labels: labels,
								xLabels: "day",
								hideHover: 'auto',
								gridLineColor: '#eef0f2',
								resize: true, //defaulted to true
								lineColors: lineColors,
								lineWidth: 2,
								parseTime: false
							});
						},
				
						//creates Bar chart
						MorrisCharts.prototype.createBarChart = function (element, data, xkey, ykeys, labels, lineColors) {
							Morris.Bar({
								element: element,
								data: data,
								xkey: xkey,
								ykeys: ykeys,
								labels: labels,
								gridLineColor: '#eef0f2',
								barSizeRatio: 0.4,
								resize: true,
								hideHover: 'auto',
								barColors: lineColors
							});
						},
				
						//creates area chart
						MorrisCharts.prototype.createAreaChart = function (element, data, xkey, ykeys, labels, lineColors) {
							Morris.Area({
								element: element,
								pointSize: 0,
								lineWidth: 0,
								data: data,
								xkey: xkey,
								ykeys: ykeys,
								xLabels: "day",
								labels: labels,
								resize: true,
								gridLineColor: '#eee',
								hideHover: 'auto',
								lineColors: lineColors,
								fillOpacity: .6,
								behaveLikeLine: true
							});
						},
				
						//creates Donut chart
						MorrisCharts.prototype.createDonutChart = function (element, data, colors) {
							Morris.Donut({
								element: element,
								data: data,
								resize: true,
								colors: colors
							});
						},
						//creates Stacked chart
						MorrisCharts.prototype.createStackedChart = function (element, data, xkey, ykeys, labels, lineColors) {
							Morris.Bar({
								element: element,
								data: data,
								xkey: xkey,
								ykeys: ykeys,
								stacked: true,
								labels: labels,
								hideHover: 'auto',
								barSizeRatio: 0.4,
								resize: true, //defaulted to true
								gridLineColor: '#eeeeee',
								barColors: lineColors
							});
						},
						MorrisCharts.prototype.init = function () {
							//create line chart
							var $data = data['mask_wearing_chart_data'];
							this.createLineChart('morris-line-mask-wearing', $data, 'date', ['wear', 'unwear'], ['佩戴口罩人数', '未佩戴口罩人数'], ['#05cc16', '#e61e04']);
				
							//creating bar chart
							var $barData = data["commuting_chart_data"];
							this.createBarChart('morris-bar-commuting', $barData, 'date', ['all'], ['通勤人数'], ['#1699dd']);
							this.createBarChart('morris-bar-system-checkout', $barData, 'date', ['all'], ['系统已检验人数'], ['#15dd0a']);
							//creating morris-area-system-judge chart
							var $areaData = data['system_judge'];
							this.createAreaChart('morris-area-system-judge', $areaData, 'date', ['score'], ['系统智能判断安全系数'], ['#afddac']);
							//creating donut chart
							var $donutData = [
								{label: "佩戴口罩总计人数", value: data['donut_chart']['wear']},
								{label: "未佩戴口罩总计人数", value: data['donut_chart']['unwear']},
							];
							this.createDonutChart('morris-donut-total', $donutData, ['#655be6', '#1699dd']);
				
							//creating Stacked chart
							var $stckedData = [
								{y: '2005', a: 45, b: 180},
								{y: '2006', a: 75, b: 65},
								{y: '2007', a: 100, b: 90},
								{y: '2008', a: 75, b: 65},
								{y: '2009', a: 100, b: 90},
								{y: '2010', a: 75, b: 65},
								{y: '2011', a: 50, b: 40},
								{y: '2012', a: 75, b: 65},
								{y: '2013', a: 50, b: 40},
								{y: '2014', a: 75, b: 65},
								{y: '2015', a: 100, b: 90},
								{y: '2016', a: 80, b: 65}
							];
							this.createStackedChart('morris-bar-stacked', $stckedData, 'y', ['a', 'b'], ['Series A', 'Series B'], ['#655be6', '#f0f1f4']);
						},
						//init
						$.MorrisCharts = new MorrisCharts, $.MorrisCharts.Constructor = MorrisCharts
				}(window.jQuery),
	
				//initializing 
					function ($) {
						"use strict";
						$.MorrisCharts.init();
					}(window.jQuery);
			},
			error:function(){
				mdui.snackbar({
				message: 'ERROR: run time error! check your network! '
				});
			}
		});
	});
</script>

<script>
	$(function(){
		$.ajax({
			type: "POST",
			dataType: "json",
			contentType:"application/json",
			url: "/homework_result/",
			success:function(data){
				var subject = new Array("语文","数学","英语","物理","化学","生物","政治","历史","地理","信息技术","通用技术");
				var subject_english = new Array("chinese","math","english","physics","chemistry","biology","politics","history","geography","it","gt");
				for(var i=0;i<11;i++){
					var panel = '\
						<div class="mdui-panel-item mdui-panel-item-open" id="'+subject[i]+'">\
							<div class="mdui-panel-item-header">'+subject[i]+'</div>\
							<div class="mdui-panel-item-body" id="homework_here">\
								<hr>\
							</div>\
						</div>\
					</div>\
					';
					$("#put_here").append(panel);
				}
				//分科目
				for(i in data){
					//分作业
					// alert(i);
					for(var j=0;j<data[i]["num"];j++){
						var homework = '\
						<div class="row id="'+data[i]["info"][j]["homework_name"]+'">\
							<div class="col-xs-5 col-md-3 col-lg-3">\
								<div class="card">\
									<div class="card-body">\
										<h4 class="card-title font-20 mt-0">'+data[i]["info"][j]["homework_name"]+'</h4>\
										<h7>'+data[i]["info"][j]["homework_time"]+'</h7>\
										<hr>\
										<div id="morris-sum-'+i+'-'+data[i]["info"][j]["homework_name"]+'-chart" class="morris-chart-height morris-charts"></div>\
									</div>\
								</div>\
							</div>\
							<div class="col-xs-7 col-md-9 col-lg-9">\
								<div class="card">\
									<div class="card-body">\
										<div class="row">\
											<div class="col-5">\
												<h5>提交人数</h5>\
												<div id="morris-'+i+'-'+data[i]["info"][j]["homework_name"]+'-handin" class="morris-chart-height morris-charts"></div>\
											</div>\
											<div class="col-7">\
											<h5>提交学生</h5>\
											<div id="'+i+'-'+data[i]["info"][j]["homework_name"]+'-handin-here"></div>\
											</div>\
											<div class="col-5">\
											<h5>未提交人数</h5>\
											<div id="morris-'+i+'-'+data[i]["info"][j]["homework_name"]+'-unhandin" class="morris-chart-height morris-charts"></div>\
											</div>\
											<div class="col-7">\
											<h5>未提交学生</h5>\
											<div id="'+i+'-'+data[i]["info"][j]["homework_name"]+'-unhandin-here"></div>\
											</div>\
										</div>\
									</div>\
								</div>\
							</div>\
						</div>\
						';
						$("#"+i).find("#homework_here").append(homework);
						
						//person_data
						for(var o=0;o<data[i]["info"][j]["hand_in_num"];o++){
							$("#"+i+'-'+data[i]["info"][j]["homework_name"]+'-handin-here').append('\
								<div class="mdui-chip">\
								  <span class="mdui-chip-icon"><i class="mdui-icon material-icons">face</i></span>\
								  <span class="mdui-chip-title"><a herf="/stu/'+data[i]["info"][j]["hand_in_name"][o]+'">'+data[i]["info"][j]["hand_in_name"][o]+'</a></span>\
								</div>\
							')
						}
						for(var o=0;o<data[i]["info"][j]["un_hand_in_num"];o++){
							$("#"+i+'-'+data[i]["info"][j]["homework_name"]+'-unhandin-here').append('\
								<div class="mdui-chip">\
								  <span class="mdui-chip-icon"><i class="mdui-icon material-icons">face</i></span>\
								  <span class="mdui-chip-title"><a herf="/stu/'+data[i]["info"][j]["un_hand_in_name"][o]+'">'+data[i]["info"][j]["un_hand_in_name"][o]+'</a></span>\
								</div>\
							')
						}
						//chart

						!function morrischart($) {
							"use strict";
							var MorrisCharts = function () {
							};
								//creates Bar chart
								MorrisCharts.prototype.createBarChart = function (element, data, xkey, ykeys, labels, lineColors) {
									Morris.Bar({
										element: element,
										data: data,
										xkey: xkey,
										ykeys: ykeys,
										labels: labels,
										gridLineColor: '#eef0f2',
										barSizeRatio: 0.4,
										resize: true,
										hideHover: 'auto',
										barColors: lineColors
									});
								},
						
								//creates area chart
								MorrisCharts.prototype.createAreaChart = function (element, data, xkey, ykeys, labels, lineColors) {
									Morris.Area({
										element: element,
										pointSize: 0,
										lineWidth: 0,
										data: data,
										xkey: xkey,
										ykeys: ykeys,
										xLabels: "day",
										labels: labels,
										resize: true,
										gridLineColor: '#eee',
										hideHover: 'auto',
										lineColors: lineColors,
										fillOpacity: .6,
										behaveLikeLine: true
									});
								},
						
								//creates Donut chart
								MorrisCharts.prototype.createDonutChart = function (element, data, colors) {
									Morris.Donut({
										element: element,
										data: data,
										resize: true,
										colors: colors
									});
								},
								//creates Stacked chart
								MorrisCharts.prototype.createStackedChart = function (element, data, xkey, ykeys, labels, lineColors) {
									Morris.Bar({
										element: element,
										data: data,
										xkey: xkey,
										ykeys: ykeys,
										stacked: true,
										labels: labels,
										hideHover: 'auto',
										barSizeRatio: 0.4,
										resize: true, //defaulted to true
										gridLineColor: '#eeeeee',
										barColors: lineColors
									});
								},
								MorrisCharts.prototype.init = function () {
									//creating morris-area-system-judge chart
									var $areaData1 = [
										{date: data[i]["info"][j]["homework_time"], num: data[i]["info"][j]["hand_in_num"]}
									]
									this.createBarChart('morris-'+i+'-'+data[i]["info"][j]["homework_name"]+'-handin', $areaData1, 'date', ['num'], [data[i]["info"][j]["homework_name"]+'的上交人数'], ['#655be6']);
									var $areaData2 = [
										{date: data[i]["info"][j]["homework_time"], num: data[i]["info"][j]["un_hand_in_num"]}
									]
									this.createBarChart('morris-'+i+'-'+data[i]["info"][j]["homework_name"]+'-unhandin', $areaData2, 'date', ['num'], [data[i]["info"][j]["homework_name"]+'的上交人数'], ['#1699dd']);
									
									
									//creating donut chart
									var $donutData = [
										{label: "提交", value: data[i]["info"][j]["hand_in_num"]},
										{label: "未提交", value: data[i]["info"][j]["un_hand_in_num"]},
									];
									this.createDonutChart('morris-sum-'+i+'-'+data[i]["info"][j]["homework_name"]+'-chart', $donutData, ['#655be6', '#1699dd']);						
								},
								//init
								$.MorrisCharts = new MorrisCharts, $.MorrisCharts.Constructor = MorrisCharts
						}(window.jQuery),
						
						//initializing 
							function ($) {
								"use strict";
								$.MorrisCharts.init();
							}(window.jQuery);
						
					}
				}
			},
			error:function(){
				mdui.snackbar({
				message: 'ERROR: run time error! check your network! '
				});
			}
		});
	});
</script>
{% endblock %}