<!DOCTYPE html>
<html lang="zh_CN">

    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
        <title>登录 - 中学生综合素质评定系统</title>
        <meta content="Admin Dashboard" name="description" />
        <meta content="Themesbrand" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <!-- App Icons -->
        <link rel="icon" href="/static/image/favicon.ico">

        <!-- Basic Css files -->
        <link href="/static/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="/static/assets/css/metismenu.min.css" rel="stylesheet" type="text/css">
        <link href="/static/css/style.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="/static/mdui/css/mdui.min.css"/>
    </head>


    <body class="fixed-left">

        <!-- Loader -->
        <div id="preloader"><div id="status"><div class="spinner"></div></div></div>

        <!-- Begin page -->
        <div class="accountbg"></div>
        <div class="home-btn d-none d-sm-block">
            <a href="index.html" class="text-white"><i class="mdi mdi-home h1"></i></a>
        </div>
        <div class="wrapper-page">

            <div class="card">
                <div class="card-body">

                    <div class="p-3">
                        <div class="float-right text-right">
                            <h4 class="font-18 mt-3 m-b-5">欢迎回来!</h4>
                            <p class="text-muted">登录以进行更多操作</p>
                        </div>
                        <a href="index.html" class="logo-admin"><img src="/static/image/favicon.ico" height="26" alt="logo"></a>
                    </div>

                    <div class="p-3">
                        
                        <form id="user">
                            <div class="form-group">
                                <label for="username">用户名</label>
                                <input type="text" class="form-control" id="username" name="username" placeholder="Enter username">
                            </div>

                            <div class="form-group">
                                <label for="userpassword">密码</label>
                                <input type="password" class="form-control" id="userpasswd" name="userpasswd" placeholder="Enter password">
                            </div>
                            <div class="form-group row m-t-30">
                                <div class="col-sm-6">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="remember_me" name="remember_me" checked=true>
                                        <label class="custom-control-label" for="remember_me">记住我</label>
                                    </div>
                                </div>
                                <div class="col-sm-6 text-right">
                                    <button class="btn btn-primary w-md waves-effect waves-light" type="submit" id="loginBtn">登录</button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>

            <div class="m-t-40 text-center text-white-50">
                <p>Created using <a href="http://getbootstrap.com">Bootstrap</a> & <a href="http://mdui.org">MDUI</a>, by <a href="https://github.com/Xchkoo">@Xchkoo</a>.</p>
                <p>&copy; copyright 2021 Xchkoo All rights reserved.</p>
            </div>

        </div>
        <!-- end wrapper-page -->

        <!-- jQuery  -->
        <script src="/static/jquery/jquery-3.4.1.js"></script>
        <script src="/static/js/jquery.form.min.js"></script>
        <script src="/static/mdui/js/mdui.min.js"></script>
        <script src="/static/assets/js/bootstrap.bundle.min.js"></script>
        <script src="/static/assets/js/jquery.slimscroll.js"></script>
        <script src="/static/assets/js/waves.js"></script>
        <script src="/static/assets/js/modernizr.min.js"></script>
        <script src="/static/assets/js/metisMenu.min.js"></script>
        <script src="/static/js/app.js"></script>
		<script src="/static/mdui/js/mdui.min.js"></script>
		<script>
			$(function(){
                $("#loginBtn").click(function(){
                    $("#user").ajaxForm({
                        url: "/login",
                        type: "POST",
                        dataType: 'json',
                        clearForm: true,
                        beforeSubmit:function(){
                            load = mdui.snackbar({
                                message: "loading...",
                                timeout: 0,
                                closeOnOutsideClick: false
                            });
                        },
                        success:function(res){
                            load.close();
                            mdui.snackbar({
                                message: res['msg']
                            });
                            if(res['status'] == 'success'){
                                window.location.href="/console";
                            }
                        },
                        error:function(){
                            load.close();
                            mdui.snackbar({
                                message: 'internet error'
                            });
                        }
                    })
                })
			});
		</script>
    </body>
</html>

