<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
        <title> - 404 - </title>

        <!-- App Icons -->
        <link rel="shortcut icon" href="/static/image/favicon.ico">

        <!-- Basic Css files -->
        <link href="static/bootstrap/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="static/foxia/css/metismenu.min.css" rel="stylesheet" type="text/css">
        <link href="static/foxia/css/icons.css" rel="stylesheet" type="text/css">
        <link href="static/foxia/css/style.css" rel="stylesheet" type="text/css">

    </head>


    <body class="fixed-left">

        <!-- Loader -->
        <div id="preloader"><div id="status"><div class="spinner"></div></div></div>

        <!-- Begin page -->
        <div class="accountbg"></div>
        <div class="wrapper-page">

            <div class="card">
                <div class="card-block">

                    <div class="ex-page-content text-center">
                        <h1 class="">4<i class="mdi mdi-emoticon-sad text-primary error-icon"></i>4!</h1>
                        <h4 class="">Sorry, page not found</h4><br>

                        <a class="btn btn-info mb-5 waves-effect waves-light" href="/"><i class="mdi mdi-home"></i> Back to Dashboard</a>
                    </div>

                </div>
            </div>

            <div class="m-t-40 text-center text-white-50">
                <p>© 2021 Xchkoo. Created By <a href="http://www.bootstrapmb.com/">bootstrap</a></p>
            </div>

        </div>
        <!-- end wrapper-page -->


        <!-- jQuery  -->
        <script src="static/jquery/jquery.min.js"></script>
        <script src="static/foxia/js/bootstrap.bundle.min.js"></script>
        <script src="static/foxia/js/modernizr.min.js"></script>
        <script src="static/foxia/js/metisMenu.min.js"></script>
        <script src="static/foxia/js/jquery.slimscroll.js"></script>
        <script src="static/foxia/js/waves.js"></script>

        <!-- App js -->
        <script src="static/foxia/js/app.js"></script>

    </body>
</html>